@import url('../fonts/fonts.css');
@import url('./utils/variables.css');
@import url('./utils/globals.css');
@import url('pages.css');
@import url('folder.css');

.body {
  background-color: var(--background-color);
  font-family: var(--main-font);
  color: var(--text-color);
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-inline: auto; 
  overflow: hidden;
}

.lamp-glow,
.lamp-vignette {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.lamp-glow {
  z-index: 10;
  mix-blend-mode: soft-light;
  background: radial-gradient(
    circle at 55% 45%,
    rgb(255, 209, 205, 1) 5%,
    rgba(255, 149, 133, 0.3) 30%,
    rgba(0, 0, 0, 0) 50%
  );

  animation: lamp-flicker 15s step-end infinite;
}

@keyframes lamp-flicker {
  0%   { opacity: 1; }

  /* двойное резкое моргание в начале цикла */
  6%   { opacity: 0.35; }
  7%   { opacity: 1; }
  8%   { opacity: 0.5; }
  9%   { opacity: 1; }

  /* одиночное моргание ближе к концу цикла */
  57%  { opacity: 0.4; }
  58%  { opacity: 1; }

  100% { opacity: 1; }
}

.lamp-vignette {
  z-index: 9;
  mix-blend-mode: multiply;
  background:
    radial-gradient(
      circle at 60% 40%,
      rgb(255, 255, 255) 15%,
      rgba(0, 0, 0, 0.5) 50%,
      rgb(7, 13, 10) 100%
    ),
    linear-gradient(
      90deg,
      rgb(7, 13, 10) 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 70%,
      rgb(7, 13, 10) 100%
    );
}

@media (prefers-color-scheme: light) {
  .lamp-glow {
  background: radial-gradient(
    circle at 55% 45%,
    rgb(255, 236, 234) 5%,
    rgba(255, 203, 195, 0.3) 30%,
    rgba(0, 0, 0, 0) 50%
  );
}
  
  .lamp-vignette {
    background:
    radial-gradient(
      circle at 60% 40%,
      rgb(255, 255, 255) 15%,
      rgba(0, 0, 0, 0.25) 50%,
      rgb(7, 13, 10, 0.5) 100%
    ),
    linear-gradient(
      90deg,
      rgb(7, 13, 10,0.5) 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 70%,
      rgb(7, 13, 10, 0.5) 100%
    );
  }
}

::selection {
  background-color: var(--accent-color); /* Цвет фона выделения (например, желтый) */
  color: var(--background-color);            /* Цвет самого выделенного текста (черный) */
}